# Stock prices dataset
The data is of tock exchange's stock listings for each trading day of 2010 to 2016.

## Description
A brief description of columns.
- open: The opening market price of the equity symbol on the date
- high: The highest market price of the equity symbol on the date
- low: The lowest recorded market price of the equity symbol on the date
- close: The closing recorded price of the equity symbol on the date
- symbol: Symbol of the listed company
- volume: Total traded volume of the equity symbol on the date
- date: Date of record

In this assignment, we will work on the stock prices dataset named "prices.csv". Task is to create a Neural Network to classify closing price for a stock based on some parameters.

In [3]:
# Initialize the random number generator
import random
random.seed(0)

# Ignore the warnings
#import warnings
#warnings.filterwarnings("ignore")

## Question 1

### Load the data
- load the csv file and read it using pandas
- file name is prices.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('prices.csv')

In [7]:
df

                       date symbol  ...        high     volume
0       2016-01-05 00:00:00   WLTW  ...  126.250000  2163600.0
1       2016-01-06 00:00:00   WLTW  ...  125.540001  2386400.0
2       2016-01-07 00:00:00   WLTW  ...  119.739998  2489500.0
3       2016-01-08 00:00:00   WLTW  ...  117.440002  2006300.0
4       2016-01-11 00:00:00   WLTW  ...  117.330002  1408600.0
...                     ...    ...  ...         ...        ...
205087           2011-09-26    HST  ...   11.210000  9152800.0
205088           2011-09-26    HSY  ...   60.000000  1638100.0
205089           2011-09-26    HUM  ...   79.000000  2264700.0
205090           2011-09-26    IBM  ...  174.699997  6745700.0
205091           2011-09-26    ICE  ...         NaN        NaN

[205092 rows x 7 columns]

## Question 2

### Drop null
- Drop null values if any

In [8]:
df.dropna()

                       date symbol  ...        high     volume
0       2016-01-05 00:00:00   WLTW  ...  126.250000  2163600.0
1       2016-01-06 00:00:00   WLTW  ...  125.540001  2386400.0
2       2016-01-07 00:00:00   WLTW  ...  119.739998  2489500.0
3       2016-01-08 00:00:00   WLTW  ...  117.440002  2006300.0
4       2016-01-11 00:00:00   WLTW  ...  117.330002  1408600.0
...                     ...    ...  ...         ...        ...
205086           2011-09-26   HSIC  ...   63.389999   506400.0
205087           2011-09-26    HST  ...   11.210000  9152800.0
205088           2011-09-26    HSY  ...   60.000000  1638100.0
205089           2011-09-26    HUM  ...   79.000000  2264700.0
205090           2011-09-26    IBM  ...  174.699997  6745700.0

[205091 rows x 7 columns]

### Drop columns
- Now, we don't need "date", "volume" and "symbol" column
- drop "date", "volume" and "symbol" column from the data

In [9]:
newstockdf = df.drop(['date','volume','symbol'],axis =1 )

## Question 3

### Print the dataframe
- print the modified dataframe

In [10]:
newstockdf.head()

         open       close         low        high
0  123.430000  125.839996  122.309998  126.250000
1  125.239998  119.980003  119.940002  125.540001
2  116.379997  114.949997  114.930000  119.739998
3  115.480003  116.620003  113.500000  117.440002
4  117.010002  114.970001  114.089996  117.330002

## Question 3

### Get features and label from the dataset in separate variable
- Let's separate labels and features now. We are going to predict the value for "close" column so that will be our label. Our features will be "open", "low", "high"
- Take "open" "low", "high" columns as features
- Take "close" column as label

In [11]:
X = newstockdf[['open','low','high']]
y= newstockdf[['close']]

## Question 4

### Create train and test sets
- Split the data into training and testing

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import numpy as np
import tensorflow as tf
from keras.models import Sequential
from keras.layers import Dense, Dropout, BatchNormalization,Flatten
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
import matplotlib.pyplot as plt
from keras.optimizers import SGD
import keras

In [13]:
X_train , X_test , y_train, y_test = train_test_split(X, y, test_size=0.30, random_state = 1)

## Question 5

### Scaling
- Scale the data (features only)
- Use StandarScaler

In [14]:
sc = StandardScaler()
#X_trainsc = sc.fit_transform(X_train)
#X_testsc = sc.transform(X_test)
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Question 6

### Convert data to NumPy array
- Convert features and labels to numpy array

In [17]:
y_train = np.array(y_train)
y_test = np.array(y_test)

In [16]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

## Question 7

### Define Model
- Initialize a Sequential model
- Add a Flatten layer
- Add a Dense layer with one neuron as output
  - add 'linear' as activation function

In [18]:
#Initialize the model
model = tf.keras.Sequential()

#Flatten the layer
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(1, activation='linear'))

## Question 8

### Compile the model
- Compile the model
- Use "sgd" optimizer
- for calculating loss, use mean squared error

In [19]:
model.compile(optimizer='sgd', loss='mean_squared_error', metrics=['mse'])

## Question 9

### Fit the model
- epochs: 50
- batch size: 128
- specify validation data

In [20]:
output = model.fit(X_train, y_train , validation_data= (X_test, y_test), epochs = 50,batch_size=128)

Epoch 1/50
1122/1122 [==============================] - 2s 2ms/step - loss: 81.4561 - mse: 81.4561 - val_loss: nan - val_mse: nan
Epoch 2/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6168 - mse: 0.6168 - val_loss: nan - val_mse: nan
Epoch 3/50
1122/1122 [==============================] - 2s 2ms/step - loss: 0.6142 - mse: 0.6142 - val_loss: nan - val_mse: nan
Epoch 4/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6127 - mse: 0.6127 - val_loss: nan - val_mse: nan
Epoch 5/50
1122/1122 [==============================] - 2s 2ms/step - loss: 0.6109 - mse: 0.6109 - val_loss: nan - val_mse: nan
Epoch 6/50
1122/1122 [==============================] - 2s 2ms/step - loss: 0.6093 - mse: 0.6093 - val_loss: nan - val_mse: nan
Epoch 7/50
1122/1122 [==============================] - 2s 2ms/step - loss: 0.6085 - mse: 0.6085 - val_loss: nan - val_mse: nan
Epoch 8/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6060 - mse: 0.6060 - val_loss: nan - val_mse: nan
Epoch 9/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6051 - mse: 0.6051 - val_loss: nan - val_mse: nan
Epoch 10/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6033 - mse: 0.6033 - val_loss: nan - val_mse: nan
Epoch 11/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.6018 - mse: 0.6018 - val_loss: nan - val_mse: nan
Epoch 12/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5996 - mse: 0.5996 - val_loss: nan - val_mse: nan
Epoch 13/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5981 - mse: 0.5981 - val_loss: nan - val_mse: nan
Epoch 14/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5969 - mse: 0.5969 - val_loss: nan - val_mse: nan
Epoch 15/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5958 - mse: 0.5958 - val_loss: nan - val_mse: nan
Epoch 16/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5951 - mse: 0.5951 - val_loss: nan - val_mse: nan
Epoch 17/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5920 - mse: 0.5920 - val_loss: nan - val_mse: nan
Epoch 18/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5912 - mse: 0.5912 - val_loss: nan - val_mse: nan
Epoch 19/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5892 - mse: 0.5892 - val_loss: nan - val_mse: nan
Epoch 20/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5875 - mse: 0.5875 - val_loss: nan - val_mse: nan
Epoch 21/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5867 - mse: 0.5867 - val_loss: nan - val_mse: nan
Epoch 22/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5843 - mse: 0.5843 - val_loss: nan - val_mse: nan
Epoch 23/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5841 - mse: 0.5841 - val_loss: nan - val_mse: nan
Epoch 24/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5827 - mse: 0.5827 - val_loss: nan - val_mse: nan
Epoch 25/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5805 - mse: 0.5805 - val_loss: nan - val_mse: nan
Epoch 26/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5792 - mse: 0.5792 - val_loss: nan - val_mse: nan
Epoch 27/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5785 - mse: 0.5785 - val_loss: nan - val_mse: nan
Epoch 28/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5770 - mse: 0.5770 - val_loss: nan - val_mse: nan
Epoch 29/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5765 - mse: 0.5765 - val_loss: nan - val_mse: nan
Epoch 30/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5737 - mse: 0.5737 - val_loss: nan - val_mse: nan
Epoch 31/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5731 - mse: 0.5731 - val_loss: nan - val_mse: nan
Epoch 32/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5717 - mse: 0.5717 - val_loss: nan - val_mse: nan
Epoch 33/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5697 - mse: 0.5697 - val_loss: nan - val_mse: nan
Epoch 34/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5683 - mse: 0.5683 - val_loss: nan - val_mse: nan
Epoch 35/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5678 - mse: 0.5678 - val_loss: nan - val_mse: nan
Epoch 36/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5658 - mse: 0.5658 - val_loss: nan - val_mse: nan
Epoch 37/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5632 - mse: 0.5632 - val_loss: nan - val_mse: nan
Epoch 38/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5624 - mse: 0.5624 - val_loss: nan - val_mse: nan
Epoch 39/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5626 - mse: 0.5626 - val_loss: nan - val_mse: nan
Epoch 40/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5605 - mse: 0.5605 - val_loss: nan - val_mse: nan
Epoch 41/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5599 - mse: 0.5599 - val_loss: nan - val_mse: nan
Epoch 42/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5578 - mse: 0.5578 - val_loss: nan - val_mse: nan
Epoch 43/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5566 - mse: 0.5566 - val_loss: nan - val_mse: nan
Epoch 44/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5566 - mse: 0.5566 - val_loss: nan - val_mse: nan
Epoch 45/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5534 - mse: 0.5534 - val_loss: nan - val_mse: nan
Epoch 46/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5525 - mse: 0.5525 - val_loss: nan - val_mse: nan
Epoch 47/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5506 - mse: 0.5506 - val_loss: nan - val_mse: nan
Epoch 48/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5502 - mse: 0.5502 - val_loss: nan - val_mse: nan
Epoch 49/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5492 - mse: 0.5492 - val_loss: nan - val_mse: nan
Epoch 50/50
1122/1122 [==============================] - 2s 1ms/step - loss: 0.5472 - mse: 0.5472 - val_loss: nan - val_mse: nan

## Question 10

### Evaluate the model
- Evaluate the model on test data

In [21]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            multiple                  0
_________________________________________________________________
dense (Dense)                multiple                  4
=================================================================
Total params: 4
Trainable params: 4
Non-trainable params: 0
_________________________________________________________________

In [23]:
#Testing the model on test set
score = model.evaluate(X_test, y_test,batch_size=128)

481/481 [==============================] - 0s 955us/step - loss: nan - mse: nan

In [24]:
score

[nan, nan]

### Manual predictions
- Test the predictions on manual inputs
- We have scaled out training data, so we need to transform our custom inputs using the object of the scaler
- Example of manual input: [123.430000,	122.30999, 116.250000]

In [27]:
maininput= np.array([[123.430000, 122.30999, 116.250000]])
model.predict(maininput)

array([[6352.6895]], dtype=float32)

In [28]:
maininputsc = sc.transform(maininput)

In [29]:
model.predict(maininputsc)

array([[120.337425]], dtype=float32)

# Build a DNN

### Collect Fashion mnist data from tf.keras.datasets

In [186]:
(x_train, y_train), (x_test, y_test) = tf.keras.datasets.fashion_mnist.load_data()

In [187]:
x_train.shape

(60000, 28, 28)

In [188]:
print(x_train[0].shape)

(28, 28)

### Change train and test labels into one-hot vectors

In [189]:
y_train = tf.keras.utils.to_categorical(y_train, num_classes=10)
y_test = tf.keras.utils.to_categorical(y_test, num_classes=10)

### Build the Graph

### Initialize model, reshape & normalize data

In [166]:
#x_train = x_train.astype('float32')
#x_test = x_test.astype('float32')

In [167]:
#x_train /= 255
#x_test /= 255

In [153]:
#x_train = x_train.reshape(x_train.shape[0], 28, 28, 1)
#x_test = x_test.reshape(x_test.shape[0], 28, 28, 1)

#img_rows, img_cols = 28, 28

(10000, 28, 28)

In [190]:
model_2 = tf.keras.models.Sequential()
model_2.add(tf.keras.layers.Reshape((784,),input_shape=(28,28,)))
model_2.add(tf.keras.layers.BatchNormalization())

### Add two fully connected layers with 200 and 100 neurons respectively with `relu` activations. Add a dropout layer with `p=0.25`

In [191]:
model_2.add(tf.keras.layers.Dense(200, activation='relu'))
#model_2.add(tf.keras.layers.Dropout(0.25))

In [192]:
model_2.add(tf.keras.layers.Dense(100, activation='relu'))
model_2.add(tf.keras.layers.Dropout(0.25))

### Add the output layer with a fully connected layer with 10 neurons with `softmax` activation. Use `categorical_crossentropy` loss and `adam` optimizer and train the network. And, report the final validation.

In [193]:
model_2.add(tf.keras.layers.Dense(10, activation='softmax'))

In [194]:
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [195]:
y_train.shape

(60000, 10)

In [196]:
output = model_2.fit(x_train, y_train , validation_data= (x_test, y_test), epochs = 20,batch_size=100)

Epoch 1/20
600/600 [==============================] - 4s 6ms/step - loss: 0.4981 - accuracy: 0.8220 - val_loss: 0.3850 - val_accuracy: 0.8595
Epoch 2/20
600/600 [==============================] - 3s 6ms/step - loss: 0.3625 - accuracy: 0.8673 - val_loss: 0.3625 - val_accuracy: 0.8680
Epoch 3/20
600/600 [==============================] - 3s 6ms/step - loss: 0.3302 - accuracy: 0.8784 - val_loss: 0.3563 - val_accuracy: 0.8704
Epoch 4/20
600/600 [==============================] - 3s 6ms/step - loss: 0.3040 - accuracy: 0.8869 - val_loss: 0.3412 - val_accuracy: 0.8746
Epoch 5/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2870 - accuracy: 0.8916 - val_loss: 0.3449 - val_accuracy: 0.8772
Epoch 6/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2693 - accuracy: 0.8979 - val_loss: 0.3357 - val_accuracy: 0.8807
Epoch 7/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2582 - accuracy: 0.9024 - val_loss: 0.3167 - val_accuracy: 0.8888
Epoch 8/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2442 - accuracy: 0.9093 - val_loss: 0.3276 - val_accuracy: 0.8847
Epoch 9/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2343 - accuracy: 0.9118 - val_loss: 0.3363 - val_accuracy: 0.8860
Epoch 10/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2240 - accuracy: 0.9159 - val_loss: 0.3361 - val_accuracy: 0.8905
Epoch 11/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2142 - accuracy: 0.9184 - val_loss: 0.3431 - val_accuracy: 0.8887
Epoch 12/20
600/600 [==============================] - 3s 6ms/step - loss: 0.2061 - accuracy: 0.9215 - val_loss: 0.3461 - val_accuracy: 0.8895
Epoch 13/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1977 - accuracy: 0.9242 - val_loss: 0.3470 - val_accuracy: 0.8927
Epoch 14/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1910 - accuracy: 0.9272 - val_loss: 0.3381 - val_accuracy: 0.8929
Epoch 15/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1822 - accuracy: 0.9308 - val_loss: 0.3558 - val_accuracy: 0.8888
Epoch 16/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1752 - accuracy: 0.9320 - val_loss: 0.3563 - val_accuracy: 0.8901
Epoch 17/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1698 - accuracy: 0.9344 - val_loss: 0.3581 - val_accuracy: 0.8896
Epoch 18/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1658 - accuracy: 0.9370 - val_loss: 0.3821 - val_accuracy: 0.8878
Epoch 19/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1604 - accuracy: 0.9389 - val_loss: 0.3792 - val_accuracy: 0.8891
Epoch 20/20
600/600 [==============================] - 3s 6ms/step - loss: 0.1513 - accuracy: 0.9418 - val_loss: 0.3995 - val_accuracy: 0.8888

In [197]:
model_2.summary()

Model: "sequential_15"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
reshape_4 (Reshape)          (None, 784)               0
_________________________________________________________________
batch_normalization_11 (Batc (None, 784)               3136
_________________________________________________________________
dense_26 (Dense)             (None, 200)               157000
_________________________________________________________________
dense_27 (Dense)             (None, 100)               20100
_________________________________________________________________
dropout_14 (Dropout)         (None, 100)               0
_________________________________________________________________
dense_28 (Dense)             (None, 10)                1010
=================================================================
Total params: 181,246
Trainable params: 179,678
Non-trainable params: 1,568
_________________________________________________________________

In [199]:
score = model_2.evaluate(x_test, y_test, verbose=0)

In [200]:
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: 0.3995426595211029
Test accuracy: 0.8888000249862671